body {
    /* background: #fffff8; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+100,207cca+100,7db9e8+100,2989d8+101 */
    background: rgb(30, 87, 153);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(125, 185, 232, 1) 100%, rgba(41, 137, 216, 1) 101%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(125, 185, 232, 1) 100%, rgba(41, 137, 216, 1) 101%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(125, 185, 232, 1) 100%, rgba(41, 137, 216, 1) 101%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#2989d8', GradientType=0);
    /* IE6-9 */
    background-repeat: round;
}

#app {
    display: grid;
    /* grid-auto-rows: minmax(150px, auto); */
    grid-auto-rows: auto;
    /* grid-template-columns:  */
    /* height: 100vh; */
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.15em;
    font-family: 'Oswald', sans-serif;
}

.holder {
    color: seashell;
    font-size: 1.25em;
    /* border: 5px solid rgb(28, 28, 80); */
}

.entry {
    background: rgba(59, 74, 107, .4);
}

#entryHolder {
    height: 20vh;
    width: 60vw;
}

#date {}

#temp {}

#content {
    height: 20vh;
    width: 60vw;
}

.headline {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}

.title {}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 1.5rem;
}

input {
    display: block;
    height: 60px;
    width: 75vw;
    background: #22b2da;
    color: #f0d43a;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 35vw;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 2.5rem;
}

textarea {
    width: 75vw;
    background: #22b2da;
    color: #f0d43a;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}